CFBundleDevelopmentRegion
English
CFBundleExecutable
tikzedt
CFBundleIconFile
tikzedt.icns
CFBundleIdentifier
org.tikzedt
CFBundleInfoDictionaryVersion
0.2.1
CFBundleName
TikzEdt
CFBundlePackageType
APPL
CFBundleShortVersionString
0.2.1
CFBundleSignature
xmmd
CFBundleVersion
0.2.1
NSAppleScriptEnabled
NO
