<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="TikzEdt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <userSettings>
        <TikzEdt.Properties.Settings>
              <setting name="Path_pdflatex" serializeAs="String">
                    <value>pdflatex</value>
              </setting>
              <setting name="Path_externalviewer" serializeAs="String">
                    <value />
              </setting>
              <setting name="Window_Width" serializeAs="String">
                    <value>800</value>
              </setting>
              <setting name="Window_Height" serializeAs="String">
                    <value>600</value>
              </setting>
              <setting name="Editor_WordWrap" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="Editor_ShowLineNumbers" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="BB_Margin" serializeAs="String">
                    <value>6</value>
              </setting>
              <setting name="Tex_Preamble" serializeAs="String">
                    <value>\documentclass{article}
\usepackage{tikz,amsmath, amssymb,bm,color}
\usepackage[margin=0cm,nohead]{geometry}
\usepackage[active,tightpage]{preview}
\usetikzlibrary{shapes,arrows}
% needed for BB
\usetikzlibrary{calc}

\PreviewEnvironment{tikzpicture}
</value>
              </setting>
              <setting name="Tex_Postamble" serializeAs="String">
                    <value>\end{document}</value>
              </setting>
              <setting name="TLB_ShowTools" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="TLB_ShowFiles" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="TLB_ShowBB" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="TLB_ShowZoom" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="RoundToDecimals" serializeAs="String">
                    <value>4</value>
              </setting>
              <setting name="Raster_RadSteps" serializeAs="String">
                    <value>18</value>
              </setting>
              <setting name="Raster_GridWidth" serializeAs="String">
                    <value>1</value>
              </setting>
              <setting name="Raster_RadialOffset" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="BB_Std_X" serializeAs="String">
                    <value>-5</value>
              </setting>
              <setting name="BB_Std_Y" serializeAs="String">
                    <value>-5</value>
              </setting>
              <setting name="BB_Std_W" serializeAs="String">
                    <value>10</value>
              </setting>
              <setting name="BB_Std_H" serializeAs="String">
                    <value>10</value>
              </setting>
              <setting name="TLB_ShowMode" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="Editor_CodeCompletion" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="Editor_CompleteBegins" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="Snippets_ShowThumbs" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="LeftMenuColWidthSetting" serializeAs="String">
                    <value>50</value>
              </setting>
              <setting name="LeftToolsColWidthSetting" serializeAs="String">
                    <value>151</value>
              </setting>
              <setting name="OverlayCanvasColWidthSetting" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="OverlayCanvasCol2WidthSetting" serializeAs="String">
                    <value>300</value>
              </setting>
              <setting name="StatusFieldRowHeightSetting" serializeAs="String">
                    <value>80</value>
              </setting>
              <setting name="MessageColWidth" serializeAs="String">
                    <value>500</value>
              </setting>
              <setting name="LineColWidth" serializeAs="String">
                    <value>25</value>
              </setting>
              <setting name="PosColWidth" serializeAs="String">
                    <value>25</value>
              </setting>
              <setting name="SourceColWidth" serializeAs="String">
                    <value>75</value>
              </setting>
              <setting name="LeftToolsColVisible" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="SplitterColWidthSetting" serializeAs="String">
                    <value>3</value>
              </setting>
              <setting name="Overlay_CoordSelColor" serializeAs="String">
                    <value>#FFADFF2F</value>
              </setting>
              <setting name="Overlay_CoordColor" serializeAs="String">
                    <value>#FFFF0000</value>
              </setting>
              <setting name="Overlay_ScopeSelColor" serializeAs="String">
                    <value>#70FF0000</value>
              </setting>
              <setting name="Overlay_ScopeColor" serializeAs="String">
                    <value>#7000FF00</value>
              </setting>
              <setting name="Compiler_Timeout" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="Compiler_SnippetTimeout" serializeAs="String">
                    <value>0</value>
              </setting>
              <setting name="ShowFullPathInTitle" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="CompileOnCodeChangeRadioButton" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="CompileOnCTRLPressRadioButton" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="Path_htlatex" serializeAs="String">
                    <value>htlatex</value>
              </setting>
              <setting name="TLB_ShowToolsOther" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="PrecompiledHeaderCompileCommand" serializeAs="String">
                    <value>-ini -jobname="$JOBNAME$" "&amp;pdflatex $FILENAME$\dump"</value>
              </setting>
              <setting name="FolderView_ShowHidden" serializeAs="String">
                    <value>False</value>
              </setting>
              <setting name="ShowTipsTricksWindow" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="CheckForUpdates" serializeAs="String">
                    <value>False</value>
              </setting>
        </TikzEdt.Properties.Settings>
    </userSettings>
</configuration>
