body {
  padding:0px;
  background-color:#a0a0a0;
  font-family:Verdana,Arial,Helvetica,sans-serif;
  color:#000000;
}
#header {
  height:100px;
  margin:0px;
  background-color:#dcdcdc;
}
#box {
  max-width:800px;
  /*height:auto;
  */
  padding:5px;
  margin:10px  auto;
  background-color:#ff00ff;
}
#page {
  position:relative; /* */
    margin:10px;
    background-color:white;    
    padding: 10px;
    margin-left:82px;
}
#nav {
/*position:static;
  position:relative;*/
  margin:10px 10px;
}
#hsep {
  background-color:#C0C0C0;
  height:5px;
}

#currentpagelink 
{
    border-left:4px solid black;
    padding-left:0px;
    background-color:#F8F8F8;  
}

hr.mainsep 
{
    margin-top: 0px;
    margin-bottom: 0px;
}

html, body
{
  height: 100%;
}

h2 
{
  font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000;
  font-weight :300;
}

p.headline {
  font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000;
  font-size:2em;
  margin-top: 0px;
  margin-bottom: 0px;
}
p.subheadline {
  font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000;
  font-size:1em;
  margin-top: 0px;
  margin-bottom: 0px;
}
p.navlink {
 font-weight :600;
  font-size:14px;
  text-decoration : none;
  height:100%;
  display:block; 
}
p {
  font-family:Verdana,Arial,Helvetica,sans-serif; color:#000000;
  font-size:0.84em;
  padding:0 15px;
}
p.back {
  text-align:center;
  padding:15px;
}
a {
  color:black;
}
pre.prettyprint {
  background-color:#f0f0f0;
  font-size:12px;
  padding:15px;
}
pre {
  font-size:12px;
  padding:15px;
}
table.texttable
{
	border-width: 1px;
	border-spacing: 0px;
	border-style: outset;
	border-color: black;
	border-collapse: separate;
	background-color: white;
	padding:15px;
}
table.navtable
{
    border-spacing: 0px;
    padding:0px;
    border-width: 0px;
    margin-left:0px;    
}
table.navtable td {
   border-bottom:solid 1px black;   
   display:table-cell;
   padding:0px;
   padding-left:4px;
}

table.navtable tr {
}

table.navtable td a 
{
    text-decoration:none; 
    display:block; 
    padding:15px; 
    height:100%;   
    margin-bottom:0;
    margin-top:0;
    font-family:Verdana,Arial,Helvetica,sans-serif; 
    color:#000000;
    font-weight :600;
    font-size :14px;
}

table.navtable td:hover {
   border-bottom:solid 1px black; 
   background-color:#F8F8F8;  
   display:table-cell;
}

#maintable {
	width:1000px;
	border: 0px;	
	border-spacing: 0px;
	padding: 0px;
	height: 100%;
	background-color:white; 
	box-shadow:6px 6px 6px;
	margin-left:auto;
	margin-right:auto;
}

img 
{
    border-width : 0;
    max-width:600px;
}

table.texttable th {
	border-width: 1px;
	padding: 0px;
	border-style: outset;
	border-color: black;
	background-color: white;
}
table.texttable td {
	border-width: 1px;
	padding: 0px;
	border-style: outset;
	border-color: black;
	background-color: white;
}